@use '../../styles/abstracts/mixins' as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  font-family: var(--font-mouse);
  font-size: 1.4rem;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: white;
  transition: all linear 0.3s;
  @include responsive('sm') {
    padding: 0 20px;
  }
}
.logo {
  & > span > span {
    display: none !important;
  }
  & img {
    display: block;
    position: relative !important;
    width: 150px !important;
    height: 60px !important;
    margin: auto;
  }
  @include responsive('lg') {
    display: none;
  }
}
.iconMobile {
  font-size: 25px;
  color: rgb(48, 47, 47);
  display: none;
  @include responsive('sm') {
    display: block;
  }
}
.iconDestop {
  @include responsive('sm') {
    display: none;
  }
}
.linkName {
  @include responsive('sm') {
    display: none;
  }
}
.navLinks {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 5%;

  a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
  }
  @include responsive('lg') {
    gap: 5%;
    font-size: 1.1rem;
  }
}
.btnGroup {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;

  @include responsive('sm') {
    flex: none;
  }
}
.btnLogin {
  box-shadow: 0 0 0px 2px var(--color-base);
  border-radius: 6px;
  color: black;
  background: linear-gradient(to right, white 50%, var(--color-base) 50%) left;
  background-size: 200%;
  transition: all linear 0.2s;

  &:hover {
    background-position: 100.2%;
    transition: all linear 0.2s;
    color: white;
    transform: scale(0.98);
  }
}

.btnLogin {
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin: auto 0;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  @include responsive('md') {
    width: 100px;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 0.7rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover svg {
      color: white;
      transition: all linear 0.2s;
    }
  }
}
.btnChangeLang {
  cursor: pointer;
  width: fit-content;
  height: 30px;
  font-weight: 600;
  transition: all linear 0.2s;
  &:hover {
    transform: scale(1.1);
    transition: all linear 0.2s;
  }
  @include responsive('sm') {
    display: none;
  }
  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
}
.onTop {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 2px rgba(138, 138, 138, 0.667);
  transition: all linear 0.3s;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.344);
  img,
  svg {
    width: 70px !important;
    height: 70px !important;
  }
}
