@use '../../styles/abstracts/mixins' as *;
.btnRegister {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 10px;
  color: rgb(69, 69, 69);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-green);
  background-size: 200%;
  transition: all linear 0.2s;
  opacity: 0.8;
  &:hover {
    background-position: 100%;
    transition: all linear 0.2s;
    color: rgb(0, 0, 0);
    transform: scale(0.98);
    opacity: 1;
  }
}
.description {
  font-size: 0.9rem;
}
.course {
  box-shadow: 0 0 4px 2px rgba(100, 98, 98, 0.629);
  border-radius: 10px;
  margin: 0 auto;
  min-width: 225px;
  flex-basis: 20%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include responsive('md') {
    min-width: 100%;
    width: 100%;
    margin: 0;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.title {
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: normal;
  @include responsive('sm') {
    font-size: 1.1rem;
  }
  @include responsive('md') {
    font-size: 1.3rem;
  }
}
.CardImage {
  display: block;
  height: 160px;
  box-shadow: 0 0 1px 2px black;
  border-radius: 10px;
}
.groupBtnPet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.price {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 98, 0);
}
