@use 'abstracts/variables' as *;
@use 'base/reset' as *;
@use 'base/typography' as *;
@use 'abstracts/mixins' as *;
body {
  color: var(--color-text-default);
  background-color: var(--color-page-background);
  position: relative;
}
a.active p,
a.active svg {
  color: var(--color-base);
  font-weight: 600;
}
.body {
  padding-top: calc(var(--header-height) + 10px);
}
*::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
  border-radius: 100rem;
}

*::-webkit-scrollbar-track {
  border-radius: 100rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(72, 72, 72, 0.659);
  border-radius: 100rem;
}
